<?xml version="1.0"?>
<model>
  <name>Generic Quadplane</name>
  <version>1.0</version>
  <sdf version='1.4'>generic_quadplane.sdf</sdf>

  <author>
   <name>Pence Mataria</name>
   <email>pencem@iitk.ac.in</email>
  </author>

  <description>
    This is a model of a generic VTOL quad plane (fixedwing).
  </description>
</model>
